---
layout: base
description: CODEVID-19 is a global hackathon to build useful apps that people can use to manage and survive during the COVID-19 pandemic.
---

<!-- Header -->
<header id="header">
  <a href="{{ '/' | relative_url }}" class="title">CODEVID-19</a>
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
    </ul>
  </nav>
</header>

<!-- Wrapper -->
<div id="wrapper">
  <!-- Main -->
  <section id="main" class="wrapper">
    <div class="inner">
      <h1 class="major">{{ page.title }}</h1>
      {{ content }}
    </div>
  </section>
</div>
